.jumbotron{
  background-color: black;
  color:white;
  font-family: serif;
  font-size: 200px;
  text-align: center;
  margin-bottom: 20px;


}
.container-fluid  {
  background-color: black;
  margin-top: 1px;

}
.container  {
  margin-left: 0;
  margin-right: 0;
}
#about{
background-color: white;
font-family: serif;
font-size: 20px;
}
#aboutH  {
  background-color: black;
  color:white;
  font-family: serif;
  font-size: 35px;
  text-align: center;
  margin-bottom: 20px;
}
